# Include the README so PyPI shows your long description
include README.md

# Include the license
include LICENSE

# Include all files inside the users package
recursive-include microsys *

# If you have templates inside the users app
recursive-include microsys/templates *

# If you have static files
recursive-include microsys/static *

# Keep test code and cache artifacts out of source distributions
prune microsys/tests
global-exclude __pycache__
global-exclude *.py[cod]
