from microsys.tables import MicrosysTable
from .models import ExampleRecord


class ExampleRecordTable(MicrosysTable):
    class Meta(MicrosysTable.Meta):
        model = ExampleRecord
        fields = ("name", "is_active", "created_at")
