from django.contrib.auth.mixins import LoginRequiredMixin, PermissionRequiredMixin
from django.core.exceptions import FieldDoesNotExist, PermissionDenied
from django.urls import reverse
from django.views.generic import CreateView, DeleteView, DetailView, UpdateView
from django_filters.views import FilterView
from django_tables2 import SingleTableMixin

from microsys.constants import DEFAULT_TABLE_PAGE_SIZE
from microsys.utils import get_user_scope, is_scope_enabled, log_user_action, setup_filter_helper

from .filters import ExampleRecordFilter
from .forms import ExampleRecordForm
from .models import ExampleRecord
from .tables import ExampleRecordTable


def _scope_filtered_queryset(queryset, user):
    if not is_scope_enabled() or getattr(user, "is_superuser", False):
        return queryset
    try:
        queryset.model._meta.get_field("scope")
    except FieldDoesNotExist:
        return queryset
    user_scope = get_user_scope(user)
    if user_scope is None:
        return queryset.none()
    return queryset.filter(scope=user_scope)


class ExampleRecordPermissionMixin(LoginRequiredMixin, PermissionRequiredMixin):
    model = ExampleRecord
    raise_exception = True

    def get_queryset(self):
        return _scope_filtered_queryset(super().get_queryset(), self.request.user)


class ExampleRecordListView(ExampleRecordPermissionMixin, SingleTableMixin, FilterView):
    model = ExampleRecord
    permission_required = "{{ app_name }}.view_examplerecord"
    table_class = ExampleRecordTable
    filterset_class = ExampleRecordFilter
    template_name = "{{ app_name }}/example_record_list.html"
    paginate_by = DEFAULT_TABLE_PAGE_SIZE

    def get_queryset(self):
        return _scope_filtered_queryset(ExampleRecord.objects.order_by("-created_at"), self.request.user)

    def get_filterset(self, filterset_class):
        filterset = super().get_filterset(filterset_class)
        setup_filter_helper(filterset, request=self.request)
        return filterset


class ExampleRecordDetailView(ExampleRecordPermissionMixin, DetailView):
    model = ExampleRecord
    permission_required = "{{ app_name }}.view_examplerecord"
    template_name = "{{ app_name }}/example_record_detail.html"
    context_object_name = "record"


class ExampleRecordCreateView(ExampleRecordPermissionMixin, CreateView):
    model = ExampleRecord
    permission_required = "{{ app_name }}.add_examplerecord"
    form_class = ExampleRecordForm
    template_name = "{{ app_name }}/example_record_form.html"

    def form_valid(self, form):
        if is_scope_enabled() and hasattr(form.instance, "scope") and not self.request.user.is_superuser:
            user_scope = get_user_scope(self.request.user)
            if user_scope is None:
                raise PermissionDenied
            form.instance.scope = user_scope
        response = super().form_valid(form)
        log_user_action(self.request, "CREATE", instance=self.object)
        return response

    def get_success_url(self):
        return reverse("{{ app_name }}:example_record_list")


class ExampleRecordUpdateView(ExampleRecordPermissionMixin, UpdateView):
    model = ExampleRecord
    permission_required = "{{ app_name }}.change_examplerecord"
    form_class = ExampleRecordForm
    template_name = "{{ app_name }}/example_record_form.html"

    def form_valid(self, form):
        response = super().form_valid(form)
        log_user_action(self.request, "UPDATE", instance=self.object)
        return response

    def get_success_url(self):
        return reverse("{{ app_name }}:example_record_list")


class ExampleRecordDeleteView(ExampleRecordPermissionMixin, DeleteView):
    model = ExampleRecord
    permission_required = "{{ app_name }}.delete_examplerecord"
    template_name = "{{ app_name }}/example_record_confirm_delete.html"
    context_object_name = "record"

    def form_valid(self, form):
        record = self.get_object()
        response = super().form_valid(form)
        log_user_action(self.request, "DELETE", instance=record)
        return response

    def get_success_url(self):
        return reverse("{{ app_name }}:example_record_list")
