DLUX_STRINGS = {
    "en": {
        "app_{{ app_name }}": "{{ app_title }}",
        "model_examplerecord": "Example Record",
        "label_examplerecord_name": "Name",
        "label_examplerecord_description": "Description",
        "label_examplerecord_is_active": "Active",
    },
    "ar": {
        "app_{{ app_name }}": "{{ app_title }}",
        "model_examplerecord": "سجل تجريبي",
        "label_examplerecord_name": "الاسم",
        "label_examplerecord_description": "الوصف",
        "label_examplerecord_is_active": "نشط",
    },
}
