# Development override for compose.yml
# Usage: docker compose -f compose.yml -f compose.dev.yml up

name: {{ project_slug }}

services:
  nginx:
    ports: !override
      - target: 80
        published: "81"
        protocol: tcp

  web:
    image: !reset null
    volumes: !override
      - ./:/app:rw
      - static:/app/staticfiles:rw
      - ./media/:/app/media/:rw
    environment:
      BASE_URL: "http://localhost:81"
      DEBUG_STATUS: "True"
      NGINX_PORT: "81"

  celery:
    build: .
    image: !reset null
    volumes: !override
      - ./:/app:rw
      - static:/app/staticfiles:rw
      - ./media/:/app/media/:rw
      - ./logs/:/app/logs:rw
