# Ignore Python and OS bytecode files
**/__pycache__/
*.pyc
*.pyo
**/.DS_Store
desktop.ini
autorun.ini
.codex

# Ignore app directories
logs/
media/
staticfiles/
imports/
.backups/
secrets/
.secrets/
venv/
.venv/
dist/
*.egg-info/
build/
.agents/
.xpose/

# Ignore celery-related files
celerybeat-*

# Ignore Sensetive Secrets
.env
.key