<!DOCTYPE html>
{% load static %}
<html lang="{{ CURRENT_LANG|default:'en' }}" dir="{{ CURRENT_DIR|default:'ltr' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ APP_CONFIG.identity.display_name|default:"microSYS" }} &nbsp;|&nbsp; {% block title %}{% endblock %}</title>
    
    {{ user_preferences|json_script:"user-prefs-data" }}
    {{ MS_TRANS|json_script:"ms-trans-data" }}
    {{ MICROSYS_THEME_NAMES|json_script:"microsys-theme-names" }}
    {{ config|json_script:"microsys-config-data" }}
    {{ font_families|json_script:"microsys-font-families" }}
    <style id="ms-dynamic-fonts" nonce="{{ request.csp_nonce }}">
        {{ font_face_css|safe }}
        :root {
            --ms-font-fallback: '{{ default_font_family }}', sans-serif;
            --ms-main-font: '{{ active_font_family }}', sans-serif;
        }
    </style>
    <script src="{% static 'microsys/main/js/base_head.js' %}?v=20260506a" nonce="{{ request.csp_nonce }}"></script>
    <!-- Include CSS (direction-aware bootstrap) -->
    {% if CURRENT_DIR == 'ltr' %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" id="bootstrap-css">
    {% else %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.rtl.min.css' %}" id="bootstrap-css">
    {% endif %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'microsys/main/css/main.css' %}?v=20260525a">
    <link rel="stylesheet" href="{% static 'microsys/main/css/navbar.css' %}?v=20260523b">
    <link rel="stylesheet" href="{% static 'microsys/main/css/buttons.css' %}?v=20260525b">
    <link rel="stylesheet" href="{% static 'microsys/main/css/titlebar.css' %}?v=20260525a">
    <link rel="stylesheet" href="{% static 'microsys/main/css/tables.css' %}?v=20260501a">
    <link rel="stylesheet" href="{% static 'microsys/main/css/dropdowns.css' %}">
    <link rel="stylesheet" href="{% static 'microsys/main/css/selectors.css' %}?v=20260528c">
    <link rel="stylesheet" href="{% static 'microsys/main/css/template_cleanup.css' %}?v=20260529a">

    <link rel="stylesheet" href="{% static 'microsys/main/css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'microsys/main/css/system_setup.css' %}?v=20260528b">
    {% for theme in MICROSYS_THEMES %}
    <link rel="stylesheet" href="{% static theme.css_path %}?v=20260528c">
    {% endfor %}
    <link rel="stylesheet" href="{% static 'microsys/accessibility/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'microsys/language/css/main.css' %}?v=20260516a">
    <link rel="stylesheet" href="{% static 'microsys/helpers/tooltip/css/main.css' %}?v=20260525b">
    <link rel="stylesheet" href="{% static 'microsys/users/css/user_hub.css' %}?v=20260525b">
    <link rel="icon" href="{{ APP_CONFIG.favicon_url|default:'/static/favicon.ico' }}" type="image/x-icon">
    <!-- <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'icons/icon-512x512.png' %}"> -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- Driver.js moved to tutorial.html -->
    {% load microsys_tags %}
    {% include_if_exists 'microsys/includes/custom_head.html' %}
    {% block extra_head %}{% endblock %}

    <script src="{% static 'microsys/themes/js/main.js' %}?v=20260522b" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/accessibility/js/main.js' %}" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/language/js/main.js' %}?v=20260514a" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/language/js/translations.js' %}" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/helpers/autofill/js/main.js' %}" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/helpers/prevent_double_submit.js' %}" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/helpers/tooltip/js/main.js' %}?v=20260525a" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/users/js/user_hub.js' %}?v=20260525b" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/users/js/user_report.js' %}?v=20260603a" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/helpers/wizard/js/main.js' %}?v=20260523b" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/main/js/tables.js' %}?v=20260423a" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/main/js/selectors.js' %}?v=20260422a" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/main/js/system_setup.js' %}?v=20260525a" nonce="{{ request.csp_nonce }}" defer></script>
    <script src="{% static 'microsys/main/js/navbar.js' %}?v=20260523b" nonce="{{ request.csp_nonce }}" defer></script>

</head>
<body>

    <!-- Title Bar -->
    {% block titlebar %}
    {% if not hide_titlebar_for_public_index %}
    {% include 'microsys/includes/titlebar.html' %}
    {% endif %}
    {% if user.is_authenticated %}
    {% include 'microsys/users/user_hub.html' %}
    {% endif %}
    {% endblock %}

    {% block layout %}
    {% if request.user.is_authenticated %}
        <div class="col overflow-hidden">
            <div class="row g-0 m-0 d-flex flex-grow-1 flex-nowrap">
                <!-- Sidebar -->
                {% if sidebar_enabled %}
                    {% include 'microsys/includes/sidebar_items.html' %}
                {% endif %}
                <!-- Main Content -->
                <div class="col p-3 flex-column flex-fill p-4" id="mainContent">
                    {% microsys_navbar %}
    {% else %}
        <main class="flex-fill w-100 p-4" id="mainContent">
    {% endif %}
        {% if messages %}
            <div class="alert-container position-absolute top-0 start-0 w-100">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center h4 ms-global-alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    {% if request.user.is_authenticated %}
                </div>
            </div>
        </div>
    {% else %}
        </main>
    {% endif %}
    {% endblock %}

    {% include_if_exists 'microsys/includes/custom_scripts.html' %}
    
    <!-- Include Bootstrap JS (Placed before scripts block so dependencies work) -->
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    
    {% block scripts %}{% endblock %}
    <link rel="stylesheet" href="{% static 'vanillajs-datepicker/datepicker-bs5.min.css' %}">
    <script src="{% static 'vanillajs-datepicker/datepicker.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static 'microsys/main/js/base_runtime.js' %}?v=20260506a" nonce="{{ request.csp_nonce }}" defer></script>

    {% if request.resolver_match.url_name != 'login' %}
    {% include 'microsys/includes/tutorial.html' %}
    {% endif %}
    {% include 'microsys/helpers/micro_context_menu.html' %}
    {% include 'microsys/helpers/dynamic_modal.html' %}
</body>
</html>
