"""
Generated with django-lux {{ dlux_version }}.
Project name: {{ project_name }}.
Generated on: {{ generated_date }}.
"""
from django.urls import include, path


urlpatterns = [
    path("health/", include("health_check.urls")),
    path("", include("dlux.urls")),
]
